# Python packages from conda dependencies
pickleshare==0.7.5
setuptools==78.1.1
# Python packages from pip dependencies
annotated-types==0.7.0
anyio==4.11.0
cloudpickle==3.1.1
fastapi==0.118.2
fastjsonschema==2.21.2
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
kiwisolver==1.4.9
langdetect==1.0.9
lark==1.3.0
matplotlib==3.10.5
nltk==3.9.1
numpy==1.26.4
openpyxl==3.1.5
pandas==2.3.1
pandocfilters==1.5.1
pydantic==2.12.0
pydantic-core==2.41.1
pyparsing==3.2.3
python-dotenv==1.1.1
requests==2.32.5
scikit-learn==1.7.2
scipy==1.13.1
seaborn==0.13.2
tqdm==4.67.1
urllib3==2.5.0
uvicorn==0.37.0
websocket-client==1.8.0
websockets==15.0.1
